<!DOCTYPE html>
<html>
<head>
	<title>Acaba</title>
	<!-- <link rel ="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"> -->
	<link rel ="stylesheet" type ="text/css" href="../public/css/s1	.css">
	<link rel="shortcut icon" type="favicon" href="../public/img/logo.png">
</head>
<p align="right" > <a href="Web Dev.html" >>>MENU<<</a></p>

<center>

</center>
<body background="../public/img/a1.jpg">
<div id="app"></div>

	<style>
	body{
	background: url(../public/img/a1.jpg);
  	background-repeat: no-repeat;
  	background-size: cover;
	}
</style>
<script type = "text/javascript" src ="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.js"></script>
<script type = "text/javascript" src="../public/js/s1.js"></script>
</body>
</html>