<!DOCTYPE html>
<html>
<head>
	<title>Rjay Acaba</title>
	<!-- <link rel ="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"> -->
	<link rel ="stylesheet" type ="text/css" href="../public/js/S5.css">
</head>
<p align="right"> <a href="/">>>MENU<<</a></p>
<center>

 
</center>
<body background="img/a5.jpg">
<div id="app"></div>
<style> 
	body{
		background:url(img/a5.jpg) 
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;	
</style>
<script type = "text/javascript" src ="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.js"></script>
<script type = "text/javascript" src="js/s5.js"></script>
</body>
</html>