<!DOCTYPE html>
<html>
<head>
<style>
<style> 
	body{
		background:url(img/s2.jpg) 
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;	
</style>
	<title>Acaba</title>
	<link rel ="stylesheet" type ="text/css" href="../public/css/Web Dev.css">
	<link rel="shortcut icon" type="favicon" href="../public/img/logo.png">
</head>
<body background="img/homepage.jpg">

<font face="23" size="Chiller">
<style> 
	body{
		background:url(img/homepage.jpg) 
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;	
</style>
	<center>
	<!-- <center><h1>Spider Man Movies</h1> -->
	<h3><a href="S1">Arrow Season 1</a></h3>
	<h3><a href="S2">Arrow Season 2</a></h3>
	<h3><a href="S3">Arrow Season 3</a></h3>
	<h3><a href="S4">Arrow Season 4</a></h3>
	<h3><a href="S5">Arrow Season 5</a></h3>
	</font>
	</center>

	<br>
	
</body>
</html>