<!DOCTYPE html>
<html>
<head>
<style>
body  {
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: red;
}
</style>
	<title>Acaba</title>
	<link rel ="stylesheet" type ="text/css" href="../public/css/Web Dev.css">
	<link rel="shortcut icon" type="favicon" href="../public/img/logo.png">
</head>
<body>

<font face="23" size="Chiller" >
<style>
	body{
	background: url(../public/img/homepage.jpg);
  	background-repeat: no-repeat;
   	background-size: cover;
 	}
 
</style>
	<center>
	<!-- <center><h1>Spider Man Movies</h1> -->
	<img src=" public/img/sp.png" width="310px";>
	<h3><a href="S1.html">Arrow Season 1</a></h3>
	<h3><a href="S2.html">Arrow Season 2</a></h3>
	<h3><a href="S3.html">Arrow Season 3</a></h3>
	<h3><a href="S4.html">Arrow Season 4</a></h3>
	<h3><a href="S5.html">Arrow Season 5</a></h3>
	</font>
	</center>

	<br>
	
</body>
</html>